db/data/*
!db/data/.gitkeep

db/result/*
!db/result/.gitkeep

db/log/*
!db/log/.gitkeep

app/files/*
!app/files/.gitkeep

app/log/*
!app/log/.gitkeep

app/public/themes/*
!app/public/themes/.gitkeep

app/plugins
!app/plugins/.gitkeep